{
  "root": true,
  "parserOptions": {
    "ecmaVersion": "latest",
    "sourceType": "module"
  },
  "env": {
    "es6": true,
    "node": true,
    "browser": true
  },
  "extends": [
    "plugin:unicorn/all",
    "airbnb"
  ],
  "plugins": [
    "unicorn",
    "import",
    "simple-import-sort"
  ],
  "rules": {
    "quotes": [
      "error",
      "single"
    ],
    "arrow-body-style": "off",
    "class-methods-use-this": "off",
    "dot-notation": "off",
    "eqeqeq": "off",
    "func-names": "off",
    "guard-for-in": "off",
    "import/no-cycle": "off",
    "import/no-mutable-exports": "off",
    // "import/no-useless-path-segments": "off",
    "import/no-extraneous-dependencies": "off",
    "linebreak-style": "off",
    "max-classes-per-file": "off",
    "max-len": "off",
    "no-compare-neg-zero": "off",
    "no-console": "off",
    "no-continue": "off",
    "no-else-return": "off",
    "no-implicit-globals": "error",
    "no-lonely-if": "off",
    "no-param-reassign": "off",
    "no-plusplus": "off",
    "no-restricted-syntax": "off",
    "no-shadow": "off",
    // "no-unused-vars": "off",
    "no-unused-vars": ["error", { "vars": "all", "args": "after-used", "ignoreRestSiblings": false }],
    "no-use-before-define": "off",
    "no-useless-return": "off",
    "object-curly-newline": "off",
    "object-property-newline": "off",
    "object-shorthand": "off",
    "operator-linebreak": "off",
    "padded-blocks": "off",
    "prefer-arrow-callback": "off",
    "prefer-const": "off",
    "prefer-destructuring": "off",
    "prefer-rest-params": "off",
    "prefer-template": "off",
    "radix": "off",
    "react/forbid-prop-types": "off",
    "simple-import-sort/exports": "error",
    "simple-import-sort/imports": "error",
    "space-before-function-paren": "off",
    "unicorn/consistent-function-scoping": "off",
    "unicorn/filename-case": "off",
    "unicorn/no-array-reduce": "off",
    "unicorn/no-for-loop": "off",
    "unicorn/no-keyword-prefix": "off",
    "unicorn/no-lonely-if": "off",
    "unicorn/no-negated-condition": "off",
    "unicorn/no-null": "off",
    "unicorn/prefer-add-event-listener": "off",
    "unicorn/prefer-dom-node-dataset": "off",
    "unicorn/prefer-dom-node-text-content": "off",
    "unicorn/prefer-module": "off",
    "unicorn/prefer-ternary": "off",
    "unicorn/prevent-abbreviations": "off",
    "unicorn/no-array-for-each": "off",
    "unicorn/prefer-top-level-await":"off"
  }
}
// "unicorn/no-array-for-each": "off",
// "no-const-assign": "off",
// "one-var": "off",
// "consistent-return": "off",
// "one-var-declaration-per-line": "off",
// "operator-assignment": "off",
// "operator-linebreak": "off",
// "use-isnan": "off"
// "no-fallthrough": "off",
// "function-paren-newline": "off",
// "quote-props": "off",
// "comma-dangle": "off",
// "no-multiple-empty-lines": "off",
// "no-useless-concat": "off",
// "semi": "off",
// "eol-last": "off",
// "spaced-comment": "off",
// "space-before-function-paren": "off",
// "block-spacing": "off",
// "lines-between-class-members": "off",
// "function-call-argument-newline": "off",
// "arrow-parens": "off",
// "brace-style": "off",
// "no-extend-native": "off",
// "no-prototype-builtins": "off",
// "no-multi-spaces": "off",
// "no-trailing-spaces": "off",
// "no-self-assign": "off",
// "no-confusing-arrow": "off",
// "no-extra-semi": "off",
// "no-restricted-globals": "off",
// "no-unneeded-ternary": "off",
// "no-useless-computed-key": "off",
// "no-unused-expressions": "off",
// "unicorn/no-unused-properties": "off",
// "unicorn/no-negated-condition": "off",
// "unicorn/prefer-module": "off",
// "unicorn/prevent-abbreviations": "off",
// "unicorn/no-null": "off",
// "unicorn/no-for-loop": "off",
// "simple-import-sort/exports": "warn",
// "no-unused-vars": "off",
// "simple-import-sort/imports": "warn"
// "import/no-extraneous-dependencies": "off",