.datepicker {
  position:fixed;
  width:256px;
  height:216px;
  background:var(--black1);
  z-index:1020;
  padding:4px 14px 9px 14px;
  box-shadow:rgba(48, 52, 54, 0.3) 0px 1px 3px 0px, rgba(48, 52, 54, 0.15) 0px 4px 8px 3px;
  border-radius:8px;
}

.hide-datepicker { 
  display: none;
}
.hide-datepicker-overlay {
  display:none;
}

.datepicker-overlay {
  position:absolute;
  top:0;
  left:0;
  height:100%;
  width:100%;
  z-index:1019;
  background:transparent;
  user-select:none;
}
.datepicker__header {
  display:flex;
  justify-content:space-between;
  align-items:center;
  height:32px;
}
.datepicker-title {
  color: var(--white2);
  font-weight:500;
  font-size:14px;
  letter-spacing: .25px;
  user-select:none;
  pointer-events:none;
  padding-left:10px;
}

.datepicker-nav {
  display:flex;
  height:100%;
  align-items:center;
  justify-content:center;
}

.datepicker-nav--prev,
.datepicker-nav--next {
  width:28px;
  height:28px;
  display:flex;
  align-items:center;
  justify-content:center;
  cursor:pointer;
  border-radius:50%;
  margin-right:4px;
}

.datepicker-nav--prev:hover,
.datepicker-nav--next:hover {
  background:var(--mediumgrey1);
}

.datepicker__body {
  display:flex;
  width:100%;
  overflow:hidden;
  flex-direction:column;
  height:175px;
  padding:0 2px;
}

.datepicker__body--header {
  display:flex;
  justify-content:space-between;
  align-items:center;
  height:25px;
  font-size:11px;
  color:var(--offwhite1);
  font-weight:400;
  pointer-events:none;
  user-select:none;
}

.datepicker__body--header-cell {
  display:flex;
  justify-content:center;
  align-items:center;
  height:25px;
  width:32px;
}







.datepicker__body--dates {
  display:grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(6, 1fr);
  grid-gap:0;
  height:100%;
  width:100%;
}

.datepicker-fiveweeks {
  grid-template-rows: repeat(5, 1fr);
}

.datepicker__body--dates-cell {
  display:flex;
  justify-content:center;
  align-items:center;
  width:100%;
  height:100%;
}




.datepicker__body--datename {
  display:flex;
  justify-content: center;
  align-items:center;
  height:22px;
  width:22px;
  cursor:pointer;
  border-radius:50%;
  font-size: 11px;
  font-weight:500;
  color:var(--white2);
  user-select:none;
}

.datepicker__body--dates-week {
  background: var(--black3);
}

.datepicker__body--datename:hover {
  background:var(--darkgrey2);
  color:var(--taskcolor0);
}

.datepicker__body--datename-disabled {
  color: var(--offwhite1);
}

.datepicker__body--datename-selected {
  background: var(--primary3);
  color: var(--taskcolor0);
}

.datepicker__body--datename-today {
  background: var(--primary1);
  color: var(--taskcolor0);
}

.datepicker__body--datename-entries {
  color: var(--primarylight1);
}
