.calendar__dayview {
  height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.dayview--header {
  display: flex;
  align-items: center;
  width: 100%;
  min-height: 54px;
  margin-left: 4px;
  transition: margin-left 150ms ease-in-out;
}

.dayview--header-day {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: calc((100% / 7));
  margin-left: 44px;
  max-width: 80px;
  border-bottom: 2px solid transparent;
}

.dayview--header-day__title {
  color: var(--offwhite1);
  font-weight: 400;
  letter-spacing: 0.8px;
  text-align: center;
  line-height: 16px;
  user-select: none;
  font-size: 10px;
  width: 34px;
}

.dayview--header-day__number {
  align-items: center;
  border-radius: 50%;
  color: var(--offwhite1);
  display: flex;
  font-size: 20px;
  width: 34px;
  height: 34px;
  font-weight: 500;
  justify-content: center;
  user-select: none;
}

.dayview--header-day__number--today {
  background-color: var(--primary1);
  color: var(--taskcolor);
}

.dv-info-day-wrapper {
  display: flex;
  height: 100%;
  align-items: center;
  margin-left: 8px;
  width: 100%;
}

.dayview--header-day__info {
  font-family: var(--secondaryFont);
  display: flex;
  align-items: center;
  height: 30px;
  font-weight: 400;
  font-size: 14px;
  letter-spacing: 0.2px;
  padding-left: 4px;
  color: var(--white2);
  padding-right: 12px;
}

.dv-ontop-row2 {
  display: grid;
  grid-template-columns: 36px 1fr;
  width: 100%;
}

.dv-gmt {
  color: var(--offwhite1);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 9px;
}

.dayview--ontop-container {
  border-left: 1px solid var(--mediumgrey1);
  border-bottom: 1px solid var(--mediumgrey1);
  height: auto;
  min-height: 24px;
  overflow-y: scroll;
  width: calc(100% - 18px);
  position: relative;
}

.dayview--ontop__grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
  grid-template-rows: 20px;
  column-gap: 4px;
  height: auto;
  width: calc(100% - 48px);
  position: relative;
}

.dayview--ontop__grid-item {
  border-radius: 4px;
  color: var(--taskcolor);
  height: 18px;
  line-height: 17px;
  font-size: 12px;
  padding: 0 4px;
  cursor: pointer;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.dayview--ontop__grid-item:hover {
  filter: brightness(1.2);
}

.dv--ontop__more {
  cursor: pointer;
  background-color: var(--black0);
  color: var(--offwhite1);
  font-size: 12px;
  padding-left: 8px;
  display: flex;
  align-items: center;
  height: 100%;
  width: 100%;
}

.dv--ontop__more:hover {
  background-color: var(--black000);
}

.dv--morepopup__overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 979;
  background-color: transparent;
}

.dv--morepopup {
  display: flex;
  flex-direction: column;
  position: absolute;
  background-color: var(--black1);
  box-shadow: var(--box-shadow3);
  width: calc(100% - 64px);
  bottom: 2%;
  max-width: 540px;
  max-height: 400px;
  border-radius: 6px;
  padding: 0 2px 8px 6px;
  overflow: hidden;
  z-index: 980;
}

.dv--morepopup__header {
  height: 48px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 12px;
}

.dv--morepopup__title {
  color: var(--white2);
  font-size: 12px;
  font-weight: 500;
  line-height: 16px;
  text-align: left;
  padding-left: 4px;
  width: 100%;
}

.dv--morepopup__close {
  cursor: pointer;
  width: 24px;
  height: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

.dv--morepopup__close:hover {
  background-color: var(--mediumgrey1);
}

.dv--morepopup__body {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  gap: 2px 4px;
  height: auto;
  overflow: hidden scroll;
  width: 100%;
}

.dv--morepopup__entry {
  height: auto;
  width: 100%;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  cursor: pointer;
  margin-bottom: 4px;
  padding: 1px 2px 4px 2px;
}

.dv--morepopup__entry-title {
  color: var(--taskcolor0);
  font-size: 12px;
  line-height: 18px;
  font-weight: 500;
  padding: 0 4px;
  pointer-events: none;
}

.dv--morepopup__entry-category,
.dv--morepopup__entry-time {
  color: var(--taskcolor);
  font-size: 11px;
  line-height: 8px;
  font-weight: 400;
  margin-top: 5px;
  padding: 0 4px;
  pointer-events: none;
}

.dv--morepopup__entry:hover {
  filter: brightness(1.1);
}

.dv--ontop__grid {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 1px 4px;
}

.dayview__grid {
  height: 100%;
  overflow-y: scroll;
  width: 100%
}

.temp-disable-day-scroll {
  overflow-y: hidden !important;
}

.dayview__grid::-webkit-scrollbar-thumb {
  min-height: 100px
}

.dayview__grid--wrapper {
  background-image:
    linear-gradient(to bottom, var(--mediumgrey1) 1px, transparent 1px);
  background-size: 100% 4%;
  display: flex;
  max-height: 1250px;
  min-height: 1250px
}

.dayview--side-grid__wrapper {
  display: grid;
  grid-template-columns: 1fr;
  height: 100%;
  position: relative;
  width: 36px;
}

.dvsg-fill {
  background-color: var(--black1)
}

.dayview--side-grid {
  overflow: hidden;
  min-height: 1250px;
  max-height: 1250px;
  display: grid;
  background-color: var(--black1);
  grid-template-columns: 1fr;
  grid-template-rows: repeat(25, 1fr);
  width: 36px;
  z-index: 2;
  user-select: none;
  pointer-events: none;
}

.dv-sidegrid--cell {
  color: var(--offwhite1);
  display: flex;
  justify-content: center;
  font-size: 8px;
  height: 50px;
  position: relative;
}

.dv-sidegrid--cell:not(:first-child) {
  margin-top: -4px;
}

.dayview--main-grid {
  height: 100%;
  margin-right: 16px;
  min-height: 1200px;
  overflow-x: hidden;
  position: relative;
  border-left: 1px solid var(--mediumgrey1);
  width: 100%
}

.dayview--main-grid,
.dv-box {
  display: flex;
  flex-direction: column
}

.dv-box {
  border-top: 1px solid var(--black1);
  border-radius: 4px;
  cursor: pointer;
  overflow: hidden;
  position: absolute;
  user-select: none;

  /* z-index: 3; */
  color: var(--taskcolor) !important;
  transition-duration: 200ms;
  transition-property: left, width;
  transition-timing-function: ease-in-out;
  padding: 0 2px;
}

.dv-box__header {
  font-size: 12px;
  font-weight: 500;
  width: 100%;
}

.dv-box__content,
.dv-box__header {
  display: flex;
  height: 12px;
  line-height: 12px;
  pointer-events: none;
  user-select: none
}

.dv-box__content {
  flex-direction: column;
  font-size: 10px;
}

.dv-box-title {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap
}

.dv-box-time,
.dv-box-title {
  font-weight: 500;
  padding-left: 4px;
  pointer-events: none;
  user-select: none
}

.dv-box-time {
  white-space: pre-wrap
}

.dv-box-resize-s {
  background-color: rgba(17, 20, 21, .6);
  border-radius: 4px;
  bottom: 0;
  cursor: ns-resize;
  height: 12px;
  left: 0;
  opacity: 0;
  position: absolute;
  width: 100%
}

.dv-box-resize-s:hover {
  opacity: 1
}

.dv-box-dragging,
.dv-box-resizing {
  box-shadow: var(--box-shadow1);
  border: 1px solid var(--black000);
  pointer-events: none;
  opacity: 0.8;
  z-index: 1000 !important;
  transition: none;
}

.dv-box-ontop {
  border: 1px solid var(--black1);
  box-shadow: none;
  z-index: 3;
}

.dv-temporary-box {
  opacity: .5;
  pointer-events: none;
  user-select: none
}

.dv-box-clicked {
  box-shadow: var(--box-shadow3) !important;
  z-index: 981 !important;
  filter: brightness(1.1);
}

.dv-box-one {
  z-index: 2
}

.dv-box-ontop:hover {
  opacity: 0.95;
  transition: 100ms ease-in-out;
}

.dv-box-two {
  z-index: 4
}

.dv-box-three {
  z-index: 5
}

.dv-box-four {
  z-index: 6
}

.dv-box-five {
  z-index: 7
}

.dv-box-six {
  z-index: 8
}

.dv-box-seven {
  z-index: 9
}

.dv-box-eight {
  z-index: 10
}

.dv-box-nine {
  z-index: 11
}

.dv-box-ten {
  z-index: 12
}

.dv-box-eleven {
  z-index: 13
}

.dv-box-twelve {
  z-index: 14
}

.dv-box-thirteen {
  z-index: 15
}

.dv-box-fourteen {
  z-index: 16
}

.dv-box-fifteen {
  z-index: 17
}

.dv-box-sixteen {
  z-index: 18
}

.dv-box-seventeen {
  z-index: 19
}

.dv-box-eighteen {
  z-index: 20
}

.dv-lastbox {
  z-index: 21;
}

.dayview--footer {
  background-color: var(--black1);
  position: relative;
  user-select: none;
  width: 100%;
  z-index: 899;
}

.dvh-collapse {
  transform: scaleY(0);
  height: 0;
  min-height: 0;
  opacity: 0;
  transition-property: transform, opacity;
  transition-duration: 200ms;
  transition-timing-function: ease-in-out;
}

@media screen and (max-width: 640px) {
  .dayview--header-day {
    width: 64px;
    margin-right: 4px;
    align-items: flex-end;
    margin-left: 32px;
  }
}

@media screen and (max-width:550px) {
  .dayview--header-day {
    width: 36px;
  }

  .dayview--header-day__info {
    font-size: 12px;
  }

  .dayview--ontop__grid {
    grid-template-columns: repeat(auto-fit, minmax(48px, 1fr));
  }

  .dv--morepopup__body {
    grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
  }

  .dv--morepopup {
    left: 1% !important;
    right: 1% !important;
    margin: 0 auto;
    max-height: 320px !important;
  }
}