.calendar__dayview {
  height: 100%;
  overflow: hidden
}

.calendar__dayview {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.dayview--header {
  display: flex;
  align-items: center;
  width: 100%;
  min-height: 54px;
  margin-left: 68px;
  transition: margin-left 150ms ease-in-out;
}

.dayview--header-day {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items:center;
  height: 100%;
  width: 34px;
  background: var(--black000);
  border-bottom: 2px solid transparent; 
}

.dayview--header-day__title {
  color: var(--offwhite1);
  font-weight: 400;
  letter-spacing: 0.8px;
  text-align: center;
  line-height: 14px;
  user-select: none;
  font-size: 10px;
}

.dayview--header-day__number {
  align-items: center;
  border-radius: 50%;
  color: var(--offwhite1);
  display: flex;
  font-size: 18px;
  width: 34px;
  height: 34px;
  font-weight: 500;
  justify-content: center;
  user-select: none;
  transition: background .2s ease-in-out;
}


.dv-info-day-wrapper {
  display: flex;
  height: 100%;
  align-items: center;
  margin-left: 8px;
  width: 100%;
}


.dayview--header-day__info {
  font-family: var(--secondaryFont);
  display:flex;
  align-items: center;
  font-weight: 400;
  font-size: 13px;
  letter-spacing: 0.2px;
  padding-left: 4px;
  color: var(--white2);
  padding-right: 12px;
}

.dayview--ontop-container {
  border: 1px solid var(--mediumgrey1);
  border-top: none;
  border-bottom: 2px solid var(--black0);
  margin-left: 36px;
  max-height: 24px;
  min-height: 24px;
  overflow-y: scroll;
  width: 100%;
}

.dayview__grid {
  height: 100%;
  overflow-y: scroll;
  width: 100%
}

.temp-disable-day-scroll {
  overflow-y: hidden !important;
}

.dayview__grid::-webkit-scrollbar-thumb {
  min-height: 40px
}

.dayview__grid--wrapper {
  background-image: linear-gradient(
    to bottom, var(--mediumgrey1) 1px, transparent 1px);
  background-size: 100% 4%;
  display: flex;
  max-height: 1250px;
  min-height: 1250px
}

.dayview--side-grid__wrapper {
  display: grid;
  grid-template-columns: 1fr;
  height: 100%;
  position: relative;
  width: 36px;
}

.dvsg-fill {
  background: var(--black1)
}

.dayview--side-grid {
  overflow: hidden;
  min-height: 1250px;
  max-height: 1250px;
  display: grid;
  background: var(--black1);
  grid-template-columns: 1fr;
  grid-template-rows: repeat(25, 1fr);
  width: 36px;
  user-select: none;
  z-index: 2;
  user-select: none;
  pointer-events: none;
}

.dv-sidegrid--cell {
  color: var(--offwhite1);
  display:flex;
  justify-content: center;
  font-size: 8px;
  height: 50px;
}

.dv-sidegrid--cell:not(:first-child) {
  margin-top: -4px;
}

.dayview--main-grid {
  height: 100%;
  margin-right: 16px;
  min-height: 1250px;
  overflow-x: hidden;
  position: relative;
  border-left: 1px solid var(--mediumgrey1);
  width: 100%
}

.dayview--main-grid,
.dv-box {
  display: flex;
  flex-direction: column
}

.dv-box {
  border: none;
  border-radius: 4px;
  cursor: pointer;
  overflow: hidden;
  position: absolute;
  user-select: none;
  z-index: 3;
  color: var(--taskcolor) !important;
  transition-property: left, width; 
  transition-duration: 200ms;
  transition-timing-function: ease-in-out;
  padding: 2px;
}

.dv-box__header {
  font-size: 12px;
  font-weight: 500;
  width: 100%;
}

.dv-box__content,
.dv-box__header {
  display: flex;
  height: 12px;
  line-height: 12px;
  pointer-events: none;
  user-select: none
}

.dv-box__content {
  flex-direction: column;
  font-size: 10px;

}

.dv-box-title {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap
}

.dv-box-time,
.dv-box-title {
  font-weight: 500;
  padding-left: 4px;
  pointer-events: none;
  user-select: none
}

.dv-box-time {
  white-space: pre-wrap
}

.dv-box-resize-s {
  background: rgba(17, 20, 21, .6);
  border-radius: 4px;
  bottom: 0;
  cursor: ns-resize;
  height: 12px;
  left: 0;
  opacity: 0;
  position: absolute;
  width: 100%
}

.dv-box-resize-s:hover {
  opacity: 1
}

.dv-box-dragging,
.dv-box-resizing {
  box-shadow: var(--box-shadow1);
  pointer-events: none;
  opacity: 0.8;
}

.dv-box-ontop {
  border: 1px solid var(--black0)
}

.dv-temporary-box {
  opacity: .5;
  pointer-events: none;
  user-select: none
}

.dv-box-dragging,
.dv-box-resizing {
  z-index: 1000 !important;
  transition: none;
}

.dv-box-one {
  z-index: 2
}

.dv-box-ontop {
  z-index: 3;
}

.dv-box-ontop:hover {
  opacity: 0.9;
  transition: 100ms ease-in-out;
}

.dv-box-two {
  z-index: 4
}

.dv-box-three {
  z-index: 5
}

.dv-box-four {
  z-index: 6
}

.dv-box-five {
  z-index: 7
}

.dv-box-six {
  z-index: 8
}

.dv-box-seven {
  z-index: 9
}

.dv-box-eight {
  z-index: 10
}

.dv-box-nine {
  z-index: 11
}

.dv-box-ten {
  z-index: 12
}

.dv-box-eleven {
  z-index: 13
}

.dv-box-twelve {
  z-index: 14
}

.dv-box-thirteen {
  z-index: 15
}

.dv-box-fourteen {
  z-index: 16
}

.dv-box-fifteen {
  z-index: 17
}

.dv-box-sixteen {
  z-index: 18
}

.dv-box-seventeen {
  z-index: 19
}

.dv-box-eighteen {
  z-index: 20
}

.dv-lastbox {
  z-index: 21;
}

.dayview--footer {
  border-top: var(--bordergrey);
  background: var(--black1);
  height: 62.5px;
  margin-top: -62.5px;
  position: relative;
  user-select: none;
  width: 100%;
  z-index: 899;
}

@media screen and (max-width:530px) {
  .dayview--header {
    margin-left: 36px;
  }
}