.h__container {
  flex-direction: row;
  height: 100%;
  margin: 0;
  width: 100%;
}

.group-right,
.h-col-1,
.h-col-2,
.h-col-3,
.h__container {
  align-items: center;
  display: flex;
  height: 36px;
}

.menu {
  border-radius: 50%;
  cursor: pointer;
  height: 42px;
  justify-content: center;
  margin-left: 10px;
  transition: background-color 200ms ease-in-out;
  width: 42px;
}

.menu:hover {
  background-color: var(--black0)
}

.menu::after {
  background-color: var(--mediumgrey2);
  border-radius: 4px;
  content: attr(data-tooltip);
  font-size: 11px;
  font-weight: 400;
  height: 25px;
  left: 90%;
  position: absolute;
  top: 60%;
  transform: translate(-25%, 80%);
  width: 88px;
  z-index: -1;
  opacity: 0;
  transition: opacity 200ms ease-in-out;
}

.logo,
.menu:hover::after,
.menu:focus-visible::after {
  align-items: center;
  display: flex;
  justify-content: center;
}

.logo {
  height: 42px;
  margin-left: 4px;
  position: relative;
  width: 42px;
}

.logo::after {
  font-family: var(--primaryFont);
  align-items: center;
  color: #1d75f1;
  content: attr(data-current-day-of-month);
  display: flex;
  font-size: 14px;
  font-weight: 500;
  height: 100%;
  left: 0;
  text-align: center;
  letter-spacing: -0.6px;
  justify-content: center;
  position: absolute;
  width: 100%
}

.logo svg {
  height: 42px;
  width: 42px
}

.header-title {
  font-size: 22px;
  line-height: 36px;
  margin-left: 8px;
  pointer-events: none;
  user-select: none;
  font-weight: 400;
  height: 36px;
  padding-right: 24px;
}

.btn-today,
.header-title,
.prev,
.next,
.datetime-content,
.select__modal {
  color: var(--white2);
  font-family: var(--secondaryFont);
  font-weight: 400;
}

.btn-today {
  height: 32px;
  width: 65px;
  font-weight: 400;
  margin-left: 16px;
  padding: 2px 8px;
  position: relative;
  font-size: 14px;
  letter-spacing: 0.18px;
  /* border: 1px solid var(--black2); */
  border: 1px solid var(--mediumgrey1);
}

.group-right {
  justify-content: space-between;
  margin-left: auto;
  width: 100%;
}

.h-col-2 {
  margin-left: 16px
}

.next,
.prev,
.prev-next {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: center
}

.prev-next {
  margin-right: 12px;
}

.next,
.prev {
  border-radius: 50%;
  cursor: pointer;
  position: relative;
  height: 32px;
  width: 32px;
}

.next {
  margin-left: 1px;
}

.prev {
  margin-right: 1px;
}

.next:hover,
.prev:hover {
  background-color: var(--black0);
}

.btn-today:hover {
  background-color: var(--black0);
}

.btn-today::after,
.next::after,
.prev::after {
  font-family: var(--primaryFont) !important;
  align-items: center;
  background-color: var(--mediumgrey2);
  border-radius: 4px;
  color: var(--white1);
  filter: brightness(1.2);
  content: attr(data-tooltip);
  display: flex;
  font-size: 11px;
  font-weight: 400 !important;
  height: 25px;
  justify-content: center;
  left: 50%;
  padding: 0 1px;
  position: absolute;
  top: 60%;
  transform: translate(-50%, 80%);
  width: 138px;
  z-index: -1;
  opacity: 0;
  transition: opacity 200ms ease-in-out;
}

.next:hover::after,
.prev:hover::after,
.next:focus-visible::after,
.prev:focus-visible::after {
  width: 70px;
}

.datetime-wrapper {
  justify-content: flex-start;
  margin: 0 8px 0 0;
  position: relative;
  width: auto;
}

.datetime-content,
.datetime-wrapper {
  align-items: center;
  display: flex;
}

.datetime-content {
  border: none;
  color: var(--white2);
  cursor: pointer;
  font-size: 22px;
  height: 36px;
  line-height: 36px;
  overflow: visible;
  padding-left: 2px;
  text-align: start;
  white-space: nowrap;
  width: 100%;
}

.datetime-content::after {
  border-color: var(--white2) transparent transparent transparent;
  border-style: solid;
  border-width: 4px 4px 0;
  content: "";
  height: 0;
  width: 0;
  margin-left: 8px;
}

.datetime-wrapper:hover {
  background-color: var(--black0)
}

.datetime-inactive {
  pointer-events: none;
  user-select: none;
  display: none;
}

.datetime-inactive .datetime-wrapper {
  background: green !important;
}

.datetime-list {
  margin-left: 16px;
}

/* .datetime-inactive .datetime-content::after {
  border-color: transparent transparent transparent transparent;
}

.datetime-inactive .prev-next {
  opacity: 0;
}

.datetime-inactive .datetime-wrapper {
  transform: translateX(-30%);
}

.datetime-inactive .btn-today {
  display:none;
} */
.menu,
.settings,
.h-search,
.h-kb--shortcuts {
  align-items: center;
  cursor: pointer;
  display: flex;
  position: relative
}

.h-search,
.settings {
  border-radius: 50%;
  height: 32px;
  justify-content: center;
  width: 32px
}

.h-search {
  margin-top: 1px;
  margin-right: 3px;
}

.h-search::after,
.settings::after {
  align-items: center;
  background-color: var(--mediumgrey2);
  border-radius: 4px;
  color: var(--white1);
  content: attr(data-tooltip);
  display: flex;
  font-size: 11px;
  font-weight: 400;
  height: 25px;
  justify-content: center;
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, 80%);
  width: 60px;
  z-index: -1;
  opacity: 0;
  transition: opacity 200ms ease-in-out;
}

.menu:hover::after,
.menu:focus-visible::after,
.btn-today:hover::after,
.next:hover::after,
.prev:hover::after,
.btn-today:focus-visible::after,
.next:focus-visible::after,
.prev:focus-visible::after,
.h-search:hover::after,
.settings:hover::after,
.h-search:focus-visible::after,
.settings:focus-visible::after {
  opacity: 1;
  z-index: 2000;
}

.select-wrapper {
  height: 36px;
  margin: 0 16px 0 12px;
}

.select-wrapper,
.select__modal {
  align-items: center;
  display: flex;
  position: relative
}

.select__modal {
  appearance: none;
  border: 1px solid var(--mediumgrey1);
  border-radius: var(--borderradius);
  color: var(--white2);
  cursor: pointer;
  font-size: 14px;
  height: 32px;
  overflow: hidden;
  padding: 0 8px;
  text-overflow: clip;
  white-space: nowrap;
  width: auto;
  font-family: var(--secondaryFont);
}

.select__modal::after {
  border-color: var(--white2) transparent transparent transparent;
  border-style: solid;
  border-width: 4px 4px 0;
  content: "";
  display: inline-block;
  height: 0;
  margin: 0 0 0 8px;
  width: 0
}

.select__modal:hover {
  background-color: var(--black0);
}

.selection--active {
  background-color: var(--black3)
}

.prevnext-inactive {
  pointer-events: none;
  user-select: none;
  opacity: 0.5;
}

@media screen and (max-width: 840px) {
  .header-title {
    padding-right: 8px;
  }
}

@media screen and (max-width: 780px) {
  .h-search {
    display: none;
  }
}

@media screen and (max-width:735px) {
  .menu {
    height: 32px;
    margin-left: 8px;
    width: 32px
  }

  .header-title {
    font-size: 18px;
    padding-right: 0;
  }

  .h-col-2 {
    margin-left: 6px;
  }

  .prev-next {
    margin-right: 4px;
  }

  .prev,
  .next {
    height: 28px;
    width: 28px;
  }

  .btn-today,
  .select__modal {
    font-size: 13px;
    height: 28px;
  }

  .btn-today {
    width: inherit;
  }

  .datetime-content {
    font-size: 18px;
  }

  .settings svg {
    height: 20px;
    width: 20px
  }

  .select-wrapper {
    margin: 0 6px
  }

  .select__modal::after {
    border-width: 3px 3px 0;
    margin: 0 0 0 4px;
  }
}

@media screen and (max-width:640px) {
  .btn-today {
    display: none
  }

  .h-col-2 {
    margin-left: 0
  }

  .header-title {
    font-size: 18px;
    margin-left: 3px;
    margin-right: 6px
  }

  .settings {
    display: none
  }
}

@media screen and (max-width:530px) {
  .h-col-1 {
    height: 32px
  }

  .logo,
  .logo svg,
  .logo::after {
    height: 36px;
    width: 36px
  }

  .logo::after {
    font-size: 12px;
  }

  .header-title,
  .settings {
    display: none
  }

  .prev-next svg {
    height: 20px;
    width: 20px
  }

  .prev,
  .next {
    width: 24px;
    height: 24px;
  }

  .datetime-wrapper {
    margin: 0 4px 0 0
  }

  .datetime-content {
    font-size: 15px;
    padding-left: 1px
  }
}

@media screen and (max-width:448px) {
  .menu {
    margin-left: 4px
  }

  .menu svg {
    height: 22px;
    width: 22px
  }

  .logo {
    margin-left: 1px
  }

  .logo,
  .logo svg,
  .logo::after {
    height: 32px;
    width: 32px
  }

  .logo::after {
    font-size: 10px;
    line-height: 32px;
  }

  .prev-next {
    margin-right: 6px;
    margin-left: 6px;
  }

  .datetime-wrapper {
    margin: 0;
  }

  .datetime-content {
    font-size: 14px;
  }
}