.listview__body {
  margin-left: 66px;
  height: auto;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  width: calc(100% - 66px);
  background: var(--black1);
  border-left: var(--bordergrey);
}

.listview__rowgroup {
  border-bottom: var(--bordergrey);
  display:flex;
  width: 100%;
  height: auto;
  flex-direction: row;
}

.listview__rowgroup:last-child {
  border-bottom: none;
}
            
.rowgroup-header {
  display:flex;
  align-items: center;
  height: 36px;
  width: 120px;
  padding-left: 10px;
}

.rowgroup--header__datenumber {
  font-size: 18px;
  margin-top: 14px;
  height: 32px;
  width: 32px;
  border-radius: 16px;
  display:flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-weight: 500;
  color: var(--offwhite1);
}

.top-datenumber {
  background: var(--primary1);
  color: var(--taskcolor);
}

.rowgroup--header__datenumber:hover {
  background: var(--black2);
}

.rowgroup--header__monthdow {
  font-size: 11px;
  margin-left: 6px;
  margin-top: 17px;
  display:flex;
  flex-direction: column;
  justify-content: center;
  letter-spacing: 0.8px;
  height: 36px;
  width: 72px;
  font-weight: 500;
  color: var(--offwhite1);
  text-transform: uppercase;
}

.top-monthdow {
  color: var(--primarylight1);
}

.rowgroup-content {
  display:flex;
  align-items: center;
  height: auto;
  flex-direction: column;
  width: 100%;
  padding-left: 10px;
  margin-right: 8px;

}
.rowgroup--cell {
  display:flex;
  align-items: center;
  width: 100%;
  padding-left: 10px;
  cursor: pointer;
  height: 36px;
  min-height: 36px;
  margin-right: auto;
  margin-top: 8px;
  overflow:hidden;
  border-radius: 32px;
}

.rowgroup-content:last-child {
  margin-bottom: 8px;
}

.rowgroup--cell-active {
  box-shadow: var(--box-shadow1);
}

.rowgroup--cell__color {
  width: 10px;
  height: 10px;
  margin-bottom: 1px;
  border-radius: 5px;
  margin-right: 10px;
}

.rowgroup--cell__time {
  font-size: 14px;
  width: 160px;
  font-weight: 400;
  color: var(--offwhite2);
}

.rowgroup--cell__title {
  font-size: 14px;
  width: auto;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-weight: 500;
  color: var(--white4);
}

.rowgroup--cell__color,
.rowgroup--cell__time,
.rowgroup--cell__title {
  pointer-events:none;
}

/* queries */

@media screen and (max-width: 640px) {
  .rowgroup-header {
    padding-left: 4px;
    width: 70px;
  }

  .rowgroup--header__datenumber {
    width: 24px;
    height: 24px;
    border-radius: 12px;
    font-size: 14px;
  }

  .rowgroup--header__monthdow {
    width: 32px;
    align-items: center;
    text-align: center;
    letter-spacing: 0.2px;
    line-height: 12px;
    font-size: 9px;
    margin-left: 4px;
  }


  .rowgroup-content {
    padding-left: 6px;
  }
  .rowgroup--cell__color {
    margin-right: 6px;
  }
  .rowgroup--cell__time {
    font-size: 11px;
    width: 118px;
  }
  .rowgroup--cell__title {
    font-size: 12px;
  }
}

@media screen and (max-width: 530px) {
  .listview__body {
    margin-left: 0px;
    width: 100%;
  }
  /* margin-left: 0px; */
}