.sidebar-content--header {
  height: 64px;
  min-height: 56px;
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
  column-gap: 16px;
  padding-left: 6px;
}

.sb-toggle-form-btn {
  width: 132px;
  display: flex;
  height: 44px;
  background-color: transparent;
  border-radius: 24px;
  column-gap: 6px;
  padding: 0 2px;
  align-items: center;
  cursor: pointer;
  box-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0.302), 0 1px 3px 1px rgba(60, 64, 67, 0.149);
  z-index: 1009;
}

.sb-toggle-form-btn:focus-visible {
  box-shadow:
    0 4px 4px 0 rgba(60, 64, 67, 0.302),
    0 8px 10px 4px rgba(60, 64, 67, 0.149);
  background-color: transparent !important;
}

.stfb {
  border-radius: 24px;
  height: 46px;
  width: 46px;
  display: flex;
  justify-content: center;
  align-items: center;
  pointer-events: none;
  overflow: hidden;
}

.sb-toggle-form-btn__content {
  height: 100%;
  line-height: 44px;
  color: var(--white2);
  font-family: var(--secondaryFont);
  letter-spacing: .5px;
  font-size: 15px;
  user-select: none;
  pointer-events: none;
}

.sb-toggle-form-btn:hover {
  box-shadow:
    0 4px 4px 0 rgba(60, 64, 67, 0.302),
    0 8px 10px 4px rgba(60, 64, 67, 0.149);
}

/* data btn */
.sb-data-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 28px;
  width: 28px;
  border-radius: 18px;
  cursor: pointer;
  box-shadow: var(--box-shadow4);
  margin-bottom: 4px;
}

.sb-data-btn:focus-visible {
  background-color: transparent !important;
  box-shadow:
    rgba(83, 88, 95, 0.2) -1px -1px 2px 0,
    rgba(0, 0, 0, 0.2) 0 1px 3px 1px,
    rgba(83, 88, 95, 0.1) 0 4px 5px 0;
}

.sb-data-btn:hover {
  box-shadow:
    rgba(83, 88, 95, 0.2) -1px -1px 2px 0,
    rgba(0, 0, 0, 0.2) 0 1px 3px 1px,
    rgba(83, 88, 95, 0.1) 0 4px 5px 0;
}

.sbti-one,
.sbti-two {
  width: 18px;
  height: 18px;
}

.sbti-three {
  margin-bottom: 2px;
}

.sb-theme-btn:hover .sbti-three {
  fill: var(--white1);
}

.sb-theme-btn .sb-theme-icon-hide {
  display: none;
}

/* datepicker, category options, footer */
.sidebar-content__wrapper {
  width: 100%;
  height: calc(100% + 48px);
  overflow: hidden scroll !important;
  display: flex;
  margin-top: 4px;
  flex-direction: column;
}

.sidebar-content__wrapper::-webkit-scrollbar-track {
  background-color: var(--black1);
}

/* COL 2 */
.sb__categories {
  display: flex;
  flex-direction: column;
  height: min-content;
  width: 100%;
  z-index: 1004;
  padding: 0 9px 20px 4px;
  margin-top: 4px;
}

.sb__categories--header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 32px;
  cursor: pointer;
}

.sbch-title:hover {
  color: var(--white1);
}

.sbch-col__one {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 100%;
  width: calc(100% - 32px);
  background-color: transparent;
  padding: 4px 0;
}

.sbch-col__one:hover .sbch-title {
  color: var(--white1);
}

.sbch-title {
  color: var(--white2);
  font-weight: 500;
  font-size: 14px;
  letter-spacing: .25px;
  padding-left: 14px;
  width: 100%;
}

.sbch-caret,
.sbch-plus {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 32px;
}

.sbch-plus {
  background-color: transparent;
  border-radius: 50%;
  margin-left: 3px;
  cursor: pointer;
}

.sbch-title,
.sbch-caret,
.spch-plus svg {
  pointer-events: none;
  user-select: none;
}

.sbch-plus:hover {
  background-color: var(--mediumgrey1);
}

.sbch-caret--open {
  transform: rotate(180deg);
}

.sb__categories--body {
  display: flex;
  height: min-content;
  width: 100%;
  padding-left: 4px;
}

.toggle-category--modal {
  display: none;
}

.sb__categories--body-form {
  width: 100%;
  border: 1px solid transparent;
}

.sb__categories--body-form-hint {
  border: 1px solid var(--red2);
  filter: brightness(1.2);
}

.sbch-form--item {
  display: flex;
  justify-content: center;
  height: 32px;
  width: 100%;
  overflow-x: hidden;
  border-bottom: 2px solid transparent;
}

.sbch-form--item__col {
  width: 100%;
  display: flex;
  align-items: center;
  height: 100%;
  cursor: pointer;
}

.sbch-form--item__checkbox--wrapper {
  width: 32px;
  min-width: 32px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sbch-form--item__checkbox {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 21px;
  width: 21px;
  border-radius: 2px;
}

.sbch-form--item__label {
  color: var(--white2);
  font-size: 14px;
  font-weight: 400;
  padding-left: 8px;
  user-select: none;
  max-width: 100%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  height: 100%;
  line-height: 31px;
}

.sbch-form--item__col--actions {
  display: none;
  margin-left: auto;
  height: 100%;
  width: 60px;
  align-items: center;
}

.sbch-col--actions__edit-icon {
  margin-left: 4px;
}

.sbch-col--actions__edit-icon--immutable {
  margin-left: auto;
  margin-right: 4px;
}

.sbch-col--actions__delete-icon,
.sbch-col--actions__edit-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 26px;
  border-radius: 50%;
  width: 26px;
  cursor: pointer;
}

.sbch-col--actions__delete-icon:hover,
.sbch-col--actions__edit-icon:hover {
  background-color: var(--mediumgrey1);
}

.sbch-form--item__checkbox--wrapper,
.sbch-form--item__label,
.sbch-col--actions__delete-icon svg,
.sbch-col--actions__edit-icon svg {
  user-select: none;
  pointer-events: none;
}

.sbch-form--item:hover .sbch-form--item__col--actions {
  display: flex;
}

.sbch-form--item:hover .sbch-form--item__col {
  width: calc(100% - 64px);
}

/* footer */
.sb__info {
  display: flex;
  flex-direction: column;
  width: 100%;
  z-index: 1002;
  padding: 0 6px 4px 6px;
  height: auto;
  margin-top: auto;
}

/* footer row 1 */
.sb__info-links {
  display: flex;
  justify-content: space-between;
  padding: 0 4px;
  width: 100%;
  align-items: center;
  height: 48px;
  margin-bottom: 4px;
  margin-top: 4px;
}

.sb-link {
  display: flex;
  justify-content: center;
  margin-top: auto;
  height: 28px;
  width: 32px;
  position: relative;
  cursor: pointer;
}

.sb-link:hover svg {
  fill: var(--primary1);
}

.sb-link:active svg {
  opacity: .6;
}

.sb-link svg {
  transform: scale(0.8);
}

/* footer row 2 */
.sb__terms-privacy-project {
  display: flex;
  justify-content: space-between;
  padding: 0 4px 4px 4px;
  width: 100%;
  height: 20px;
  align-items: center;
}

.sb__terms-privacy-project div span {
  text-align: center;
  font-size: 12px;
  color: var(--white4);
  font-family: var(--secondaryFont);
  font-weight: 400;
  cursor: pointer;
  user-select: none;
}

.sbt-divide {
  width: 38px;
}

.sb__terms-privacy-project div span:hover {
  color: var(--white1);
}