.calendar__yearview {
  width:100%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  grid-auto-rows: 290px;
  column-gap: 8px;
  row-gap: 30px;
  padding: 16px 16px 16px 40px;
  height: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
}

.calendar__yearview::-webkit-scrollbar-thumb {
  min-height: 80px;
}

.yv-monthcell {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items:center;
  height: 100%;
  width: 100%;
  max-width: 320px;
  margin: 0 auto;
  color: var(--white2);
  border-radius: 8px;
}

.yv-monthcell__header {
  padding-top:8px;
  width: 100%;
  max-width: 320px;
  height: 68px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  color: var(--white3);
}

.yv-monthcell__header--rowone {
  display:flex;
  justify-content:space-between;
  align-items:center;
  width:100%;
  height:48px;
  padding-left: 18px;
}

.yv-monthcell__header--title {
  height: 100%;
  width:100%;
  letter-spacing: 0.5px;
  font-weight: 400;
  color: var(--white2);
  font-size: 17px;
  padding-left: 8px;
  line-height:28px;
  user-select: none;
  pointer-events: none;
}

.cell-current {
  /* box-shadow:var(--box-shadow4); */
  background: var(--primary5); 
}

.yvmht-current {
  color: var(--primarylight1);
}

.yv-monthcell__header--taskcount {
  height:32px;
  width:100%;
  line-height:32px;
  text-align:end;
  border-radius: 8px;
  font-weight:500;
  font-size:14px;
  user-select:none;
  pointer-events:none;
  letter-spacing: 0.3px;
}

.yv-monthcell__header--weekdays {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  width: 100%;
  margin: 0 auto;
  max-width: 290px;
  height: 36px;
}

.yv-monthcell__header--weekdays>div {
  height: 22px;
  width:100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 13px;
  user-select: none;
  pointer-events: none;
}

.yv-monthcell__body {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(6, 1fr);
  grid-gap: 0;
  max-width: 290px;
  margin: 0 auto;
  height: 100%;
  width: 100%;
  padding-bottom:24px;
}

.yv-monthcell__body--day-wrapper {
  display:flex;
  justify-content:center;
  align-items:center;
  width:100%;
  height:100%;
  margin: 0 auto;
}

.yv-monthcell__body--day {
  font-size: 13px;
  width: 28px;
  height: 28px;
  line-height:28px;
  text-align:center;
  cursor: pointer;
  border-radius: 50%;
  user-select: none;
  color: var(--white1);
}

.yvmb-prevnext {
  color: var(--offwhite1);
}

.yvmb-today {
  background:var(--primary2) !important;
  color: var(--taskcolor0) !important;
}

.yvmb-today .yvmb-has-entry {
  color: var(--taskcolor0);
}

.yvmb-parent-has-entry {
  background:var(--black0);
}

.yvmb-has-entry {
  color:var(--primarylight1);
}

.yvmb-selected {
  background: var(--primary3);
  color: var(--taskcolor0);
}

.yv-monthcell__body--day:hover {
  background: var(--darkgrey2);
  filter:brightness(1.2);
  color: var(--taskcolor0);
}



/* @media screen and (max-width:840px) {
  .calendar__yearview {
    row-gap: 26px;
    padding: 20px;
  }
} */