:root {
  --default: #234295;

  --ctgscheme1col1: #016897;
  --ctgscheme1col2: #5fa5a9;
  --ctgscheme1col3: #2789d5;
  --ctgscheme1col4: #4790ba;
  --ctgscheme1col5: #2D93AD;

  --ctgscheme2col5: #3e4656;
  --ctgscheme2col5: #3B3C40;
  --ctgscheme2col5: #585B66;
  --ctgscheme2col5: #616374;
  --ctgscheme2col5: #413A3A;

  --ctgscheme3col1: #241d2d;
  --ctgscheme3col2: #372549;
  --ctgscheme3col3: #774C60;
  --ctgscheme3col4: #B75D69;
  --ctgscheme3col5: #bc907e;

  --ctgscheme4col1: #9297c1;
  --ctgscheme4col2: #7777a8;
  --ctgscheme4col3: #C38D94;
  --ctgscheme4col4: #A76571;
  --ctgscheme4col5: #565676;

  --ctgscheme5col1: #152526;
  --ctgscheme5col2: #30544F;
  --ctgscheme5col3: #319A8B;
  --ctgscheme5col4: #25C1B9;
  --ctgscheme5col5: #5D3947;

  --ctgscheme6col1: #6D3737;
  --ctgscheme6col2: #413A3A;
  --ctgscheme6col3: #C32B2B;
  --ctgscheme6col4: #9C4040;
  --ctgscheme6col5: #AA3D3D;

  --ctgscheme7col1: #2A312F;
  --ctgscheme7col2: #222323;
  --ctgscheme7col3: #384B46;
  --ctgscheme7col4: #384340;
  --ctgscheme7col5: #3B4846;
}