.category__form-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: transparent;
  z-index: 902;
}

.category__form {
  position: absolute;
  top: auto;
  left: 236px;
  bottom: 2%;
  display: flex;
  flex-direction: column;
  min-width: 280px;
  width: 100%;
  max-width: 360px;
  height: auto;

  /* max-height: 520px; */
  max-height: min(520px, 90%);

  /*
  */
  z-index: 903;
  background-color: var(--black1);
  box-shadow: var(--box-shadow1);
  border-radius: 8px;
  overflow: hidden;
}

.hide-ctg-form {
  z-index:-1;
  opacity:0;
  pointer-events: none;
  user-select:none;
}

.category__form--body {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  position: relative;
  padding: 12px;
  overflow: hidden scroll;
}

.category__form-input {
  margin-bottom: 14px;
  background-color: var(--black3);
  border: 2px solid transparent;
  color: var(--white1);
  border-radius: 3px;
  font-size: 14px;
  font-weight: 400;
  height: 42px;
  min-height: 42px;
  line-height: 42px;
  width: 100%;
  padding: 0 8px;
  z-index: 1;
  transition-duration: 250ms;
  transition-property: border-bottom;
  transition-timing-function: cubic-bezier(.33, 1, .68, 1)
}

.category__form-error {
  border-bottom: 2px solid var(--red1);
  background-color: var(--black0);
  color: var(--taskcolor);
}

.category__form-input:focus {
  border-color: var(--mediumgrey2);
}

.category__form-input::placeholder {
  color: var(--white2);
}

.ctg-input--err {
  position: absolute;
  top: 12px;
  background-color: var(--black000);
  border: none;
  border-bottom: 2px solid var(--red1);
  color: var(--white4);
  font-size: 14px;
  font-weight: 400;
  height: 43px;
  min-height: 43px;
  left: 10px;
  line-height: 42px;
  width: calc(100% - 22px);
  z-index: 2;
  padding-left: 10px;
  cursor: pointer;
}

.ctg-input--err:hover {
  background-color: var(--black2);
}

.hide-ctg-err {
  opacity: 0;
  pointer-events: none;
  user-select: none;
  z-index: -1;
}

/* COLORPICKER */
.color__picker {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.color-picker__header {
  display: flex;
  justify-content: center;
  height: 30px;
  padding: 2px 8px 16px 8px;
  align-items: center;
  color: var(--taskcolor);
}

.color-picker__title {
  font-size: 13px;
  line-height: 28px;
  padding: 0 16px;
  text-align: center;
  border-radius: 2px;
  margin: 0 auto;
  background-color: var(--primary2);
  color: var(--taskcolor);
  display:none;
}

.color-picker__options {
  display: grid;
  height: 100%;
  grid-template-columns: repeat(8, 1fr);
  gap: 6px;
  justify-items: center;
}

.color-picker--option {
  width: 100%;
  height: 32px;
  cursor: pointer;
  border: 2px solid transparent;
}

.color-picker--option:hover {
  border: 2px dotted var(--white1);
}

.selected-color {
  display:flex;
  justify-content: center;
  align-items: center;
  border: 2px dotted var(--white1);
  cursor: default;
}

.selected-color svg {
  height: 22px;
  width: 22px;
}

/* footer */
.category__form--footer {
  display: flex;
  justify-content: center;
  margin-top: auto;
  padding: 8px 0;
  width: 100%;
  height: 48px;
}

.category__form--cancel,
.category__form--submit {
  align-items: center;
  border-radius: 0;
  cursor: pointer;
  border: none;
  display: flex;
  height: 36px;
  justify-content: center;
  transition: background-color 150ms ease-in-out;
  width: 100%;
}

.category__form--cancel {
  color: var(--white2);
  background-color: var(--black0);
}

.category__form--cancel:hover {
  background-color: var(--darkgrey1);
}

.category__form--submit {
  background-color: var(--black2);
}

.category__form--submit:hover {
  background-color: var(--mediumgrey0);
}

/* popup box */
.popup-ctg-options__overlay {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: transparent;
  z-index: 1299;
}

.popup-ctg-options {
  width: 192px;
  height: 120px;
  position: absolute;
  box-shadow: var(--box-shadow3);
  background-color: var(--black1);
  display: flex;
  flex-direction: column;
  justify-content: center;
  z-index: 1300;
}

.option__open-ctg-edit,
.option__close-other-ctg,
.option__open-other-ctg {
  line-height: 40px;
  height: 40px;
  padding: 0 8px;
  font-size: 13px;
  font-weight: 400;
  color: var(--white3);
  cursor: pointer;
  transition: background-color 150ms ease-in-out;
}

.option__open-ctg-edit,
.option__close-other-ctg {
  border-bottom: 1px solid var(--darkgrey1);
}

.option__open-ctg-edit:hover,
.option__close-other-ctg:hover,
.option__open-other-ctg:hover {
  background-color: var(--black2);
}

/* end popup box */
@media screen and (max-width: 640px) {
  .category__form {
    /* right: 2% !important; */

    /* left: 2% !important; */
    inset: 0 !important;
    margin: auto !important;
    max-height: 80% !important;
  }
}