.shortcuts-modal-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1040;
  background-color: transparent;
}

.shortcuts__modal {
  position: absolute;
  inset: 10% 5% 10% 5%;
  margin: auto;
  min-width: 240px;
  width: auto;
  max-width: 600px;
  height: auto;
  background-color: var(--black1);
  border-radius: 8px;
  box-shadow: var(--box-shadow1);
  z-index: 1041;
  overflow: hidden;
}

.hide-shortcuts {
  display: none;
}

.shortcuts-modal-header {
  display: flex;
  height: 48px;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  background-color: var(--black0);
}

.keyboard-disabled-sm-two {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 48px;
  width: 48px;
  cursor: pointer;
  position: relative;
  margin-left: 16px;
}

.keyboard-disabled-sm-two:hover::after {
  font-family: var(--primaryFont) !important;
  align-items: center;
  background-color: var(--mediumgrey1);
  border-radius: 2px;
  color: var(--white1);
  content: attr(data-tooltip);
  display: flex;
  font-size: 11px;
  font-weight: 400 !important;
  height: 25px;
  justify-content: center;
  left: 50%;
  padding: 0 1px;
  position: absolute;
  top: 60%;
  transform: translate(-50%, 80%);
  width: 160px;
  z-index: 2000;
}

.close-shortcuts-modal {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  width: 48px;
  cursor: pointer;
}

.close-shortcuts-modal svg {
  user-select: none;
  pointer-events: none;
}

.shortcuts-modal__body {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.shortcuts-modal-title {
  display: flex;
  align-items: center;
  height: 48px;
  width: auto;
  font-size: 17px;
  color: var(--white2);
  font-family: var(--secondaryFont);
  font-weight: 400 !important;
  padding: 8px;
}

.shortcuts-modal-content {
  display: flex;
  flex-direction: column;
  overflow: hidden auto;
  height: calc(100% + 80px);
  width: 100%;
  font-size: 14px;
  color: var(--white2);
  margin-top: 8px;
  padding: 8px 16px 8px 8px;
}

.shortcuts-modal-content::-webkit-scrollbar-thumb {
  min-height: 50px;
}

.sm-item {
  display: flex;
  align-items: center;
  height: 52px;
  width: 100%;
  margin-bottom: 8px;
}

.sm-item--full {
  height: 72px !important;
}

.sm-item:last-child {
  margin-bottom: 100px;
}

.sm-key {
  font-weight: 500;
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row-reverse;
  width: 140px;
  text-align: end;
  margin-right: 16px;
  height: 30px;
  color: var(--white2);
}

.sm-item:first-child .sm-key:first-child span {
  font-family: monospace !important;
}

.sm-key span:first-child,
.sm-key span:last-child {
  height: 30px;
  width: 40px;
  line-height: 30px;
  text-align: center;
  background-color: var(--darkgrey0);
}

.key-full {
  margin: 0 auto;
  width: 100% !important;
}

.sm-key span:nth-child(2) {
  padding: 0 4px;
  text-align: center;
  font-weight: 400 !important;
  font-size: 13px;
  letter-spacing: 0.4px;
  color: var(--white2);
}

.sm-description {
  height: 40px;
  display: flex;
  flex-direction: column;
  text-align: start;
  justify-content: center;
  align-items: flex-start;
  font-size: 15px;
  line-height: 20px;
  width: calc(100% - 12px);
  background-color: var(--black0);
  color: var(--white2);
  padding-left: 8px;
}

.sm-description--full {
  height: 60px !important;
  line-height: 20px !important;
}

@media screen and (max-width: 560px) {
  .shortcuts__modal {
    left: 2%;
    right: 2%;
  }

  .shortcuts-modal-content {
    padding: 6px;
  }

  .sm-key {
    font-size: 13px;
    width: 120px;
  }

  .sm-key span:first-child,
  .sm-key span:last-child {
    width: 30px;
  }

  .sm-description {
    font-size: 13px;
  }
}