.sidebar-sub-menu__overlay {
  background-color: transparent;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 1040
}

.sub-overlay-vis {
  backdrop-filter: blur(6px);
  background-color: rgba(0, 0, 0, .6);
  z-index: 1042;
}

.sidebar-sub-menu {
  background-color: var(--black1);
  border-radius: 8px;
  inset: 36px 2% 2% 2%;
  box-shadow: var(--box-shadow1);
  height: auto;
  margin: auto;
  max-height: 600px;
  max-width: 920px;
  overflow: hidden;
  position: absolute;
  transition: all 300ms ease-in-out;
  width: auto;
  z-index: 1041
}

.hide-sidebar-sub-menu,
.hide-tai {
  display: none;

  /* color: var(--black1); */
}

.close-sub-menu,
.keyboard-disabled-sm,
.sub-menu-item,
.sub-menu__body,
.sub-menu__header,
.toggle-animations-icon__sm {
  display: flex;
  width: 100%
}

.close-sub-menu,
.keyboard-disabled-sm,
.sub-menu-item,
.sub-menu__header,
.toggle-animations-icon__sm {
  align-items: center
}

.sub-menu__header {
  background-color: var(--black2);
  height: 54px;
  justify-content: space-between;
  padding: 0 12px
}

.sub-menu--icons {
  align-items: center;
  display: flex;
  height: 100%;
  width: auto
}

.close-sub-menu {
  background-color: var(--black2);
  border-radius: 18px;
  cursor: pointer;
  height: 32px;
  justify-content: center;
  width: 32px
}

.close-sub-menu:hover {
  background-color: var(--mediumgrey1)
}

.keyboard-disabled-sm,
.toggle-animations-icon__sm {
  cursor: pointer;
  height: 32px;
  justify-content: center;
  margin-right: 16px;
  position: relative;
  user-select: none;
  width: 32px
}

.keyboard-disabled-sm:hover::before,
.toggle-animations-icon__sm:hover::before {
  align-items: center;
  background-color: var(--mediumgrey1);
  border-radius: 2px;
  color: var(--white1);
  content: attr(data-tooltip);
  display: flex;
  font-family: var(--primaryFont) !important;
  font-size: 11px;
  font-weight: 400 !important;
  height: 25px;
  justify-content: center;
  left: 50%;
  padding: 0 1px;
  position: absolute;
  top: 60%;
  transform: translate(-50%, 80%);
  width: 160px;
  z-index: 2000
}

.toggle-animations-icon__sm:hover::before {
  width: 120px
}

.hide-kdsm {
  display: none
}

.sub-menu--title {
  color: var(--white1);
  font-family: var(--secondaryFont);
  font-size: 15px;
  font-weight: 400;
  letter-spacing: .4px;
  line-height: 54px
}

.sub-menu__body {
  flex-direction: column;
  height: 100%;
  overflow: hidden
}

.sub-menu-content {
  background-color: var(--black1);
  height: calc(100% - 56px);
  overflow: hidden scroll;
  padding: 8px 8px 16px 10px
}

.sub-menu--item,
.sub-menu-content {
  display: flex;
  flex-direction: column
}

.sub-menu--item {
  border-bottom: 1px solid var(--mediumgrey1);
  height: min-content;
  padding: 24px 4px 24px 4px;
  width: 100%
}

.sub-menu--item__title {
  color: var(--white1) !important;
  font-family: var(--secondaryFont);
  font-size: 20px;
  font-weight: 400 !important;
  height: min-content;
  line-height: 21px;
  white-space: nowrap;
  width: min-content
}

.sub-menu--item__title hr {
  border: 0;
  height: 1px;
  line-height: 1px;
  width: 100%
}

.sub-menu--item__title > strong {
  font-size: 13px;
  letter-spacing: 1px;
  font-weight: 400 !important;
}

.sub-menu--item__description {
  color: var(--white4) !important;
  font-size: 14px;
  font-weight: 400 !important;
  height: min-content;
  line-height: 19px;
  padding: 14px 0
}

.sub-menu--item__description > strong {
  background-color: var(--darkgrey000);
  color: var(--white3) !important;
  display: flex;
  font-size: 12px;
  justify-content: center;
  line-height: 26px;
  padding-top: 8px;
  text-align: center !important
}

.sub-menu--item__actions {
  align-items: center;
  display: flex;
  height: auto;
  justify-content: center;
  min-height: 84px;
  width: 100%
}

.sm-download-json {
  display: flex;
  height: 40px;
  width: 100%
}

.sm-json-btn {
  border: 1px solid var(--mediumgrey1);
  border-radius: 18px;
  cursor: pointer;
  display: flex;
  height: 100%;
  justify-content: space-between;
  max-width: 180px;
  padding: 0 8px;
  width: 100%
}

.sm-json-btn:last-child {
  margin-left: 8px
}

.sm-json-btn:hover {
  background-color: var(--black0)
}

.sm-download-json-icon,
.sm-upload-json-icon {
  height: 100%;
  width: 24px
}

.sm-download-json-icon,
.sm-download-json-title,
.sm-upload-json-icon,
.sm-upload-json-title {
  align-items: center;
  display: flex;
  justify-content: center;
  pointer-events: none;
  user-select: none
}

.sm-download-json-title,
.sm-upload-json-title {
  color: var(--white3);
  font-size: 15px;
  font-weight: 400;
  height: 40px;
  letter-spacing: -.3px;
  width: 100%
}

.sb-sub-popup-confirm {
  background-color: var(--black0);
  border-radius: 8px;
  inset: 5% 5% 5% 5%;
  display: flex;
  flex-direction: column;
  height: auto;
  margin: auto;
  max-height: 240px;
  max-width: 620px;
  overflow-y: auto;
  padding-top: 20px;
  position: absolute;
  width: auto;
  z-index: 1044
}

.sb-sub-popup-subtitle {
  color: var(--white4);
  font-size: 15px;
  font-weight: 500;
  padding: 2px 8px 0;
  text-align: center;
  width: 100%
}

.sb-sub-popup-subtitle:nth-child(2) {
  padding-bottom: 36px
}

.sb-sub-popup-title {
  align-items: center;
  color: var(--white4);
  display: flex;
  font-size: 16px;
  font-weight: 400;
  justify-content: center;
  margin: 0 auto;
  padding: 6px 20px;
  text-align: center
}

.sb-sub-popup-btns {
  margin-top: auto
}

.sb-sub-popup-btn--cancel,
.sb-sub-popup-btn--proceed,
.sb-sub-popup-btns {
  align-items: center;
  display: flex;
  height: 40px;
  justify-content: center;
  width: 100%
}

.sb-sub-popup-btn--cancel,
.sb-sub-popup-btn--proceed {
  border: none;
  border-radius: 0;
  cursor: pointer;
  font-size: 15px;
  margin: 0;
  transition: all .2s ease-in-out
}

.sb-sub-popup-btn--cancel {
  color: var(--white3)
}

.hide-cancel-btn {
  display: none
}

.sb-sub-popup-btn--proceed {
  background-color: #0e4894;
  color: var(--taskcolor)
}

.sb-sub-popup-btn--proceed:hover {
  background-color: #0e4894;
  filter: brightness(1.2)
}

.theme-option {
  align-items: center;
  border-radius: 6px;
  cursor: pointer;
  display: flex;
  height: 54px;
  justify-content: space-between;
  margin-bottom: 8px;
  padding: 0 8px;
  transition: filter .2s ease-in-out;
  width: 100%
}

.theme-option:hover {
  filter: brightness(1.2)
}

.theme-option:not(:first-child) {
  margin-left: 8px
}

.theme-option input {
  height: 16px;
  padding: 0 4px;
  width: 16px
}

.theme-option span {
  font-family: var(--primaryFont);
  font-size: 15px;
  font-weight: 500;
  line-height: 54px;
  padding-right: 16px;
  text-align: end
}

.theme-option input,
.theme-option span {
  pointer-events: none;
  user-select: none
}

.theme-option-dark {
  background-color: #181a1b;
  border: 2px solid #3b4753
}

.theme-option-dark span {
  color: #c0bab2
}

.theme-option-light {
  background-color: #dadce0;
  border: 2px solid #181a1b
}

.theme-option-light span {
  color: #3c4043
}

.theme-option-contrast {
  background-color: #000;
  border: 2px solid var(--primarylight1)
}

.theme-option-contrast span {
  color: #fff
}

.smia-shortcuts {
  display: flex;
  height: auto;
  width: auto;
  gap: 6px;
}

.toggle-kb-shortcuts-btn__smia {
  align-items: center;
  background-color: var(--black2);
  border: 1px solid transparent;
  border-radius: 6px;
  cursor: pointer;
  display: flex;
  height: 100%;
  max-width: 240px;
  justify-content: center;
  padding: 0 12px;
  transition: background-color150ms ease-in-out;
  width: auto
}

.toggle-kb-shortcuts-btn__smia span {
  color: var(--white4);
  font-size: 13px;
  font-weight: 500;
  line-height: 48px;
  padding: 0 12px
}

.toggle-kb-shortcuts-btn__smia span,
.toggle-kb-shortcuts-btn__smia svg {
  pointer-events: none;
  user-select: none
}

.toggle-kb-shortcuts-btn__smia:hover {
  background-color: var(--black1);
  border: var(--bordergrey)
}

.smdt-title,
.smia-set-status-title {
  color: var(--white4);
  font-size: 13px;
  font-weight: 500;
  line-height: 48px;
  padding: 0 12px;
  pointer-events: none
}

.smdt-toggle,
.smia-disable-shortcuts__btn {
  border-radius: 16px;
  height: 32px;
  position: relative;
  width: 64px;
  transform: scale(0.9);
}

.smdt-toggle label,
.smia-disable-shortcuts__btn label {
  background-color: var(--red3);
  border-radius: 16px;
  cursor: pointer;
  height: 100%;
  position: absolute;
  width: 100%
}

.smdt-toggle-checkbox,
.smia-toggle-shortcuts-checkbox {
  display: none;
  position: absolute
}

.smdt-slider,
.smia-slider {
  border-radius: 16px;
  height: 100%;
  position: absolute;
  transition: all 150ms ease-in-out;
  width: 100%
}

.smdt-toggle-checkbox:checked ~ .smdt-slider,
.smia-toggle-shortcuts-checkbox:checked ~ .smia-slider {
  background-color: var(--primary1);
}

.smdt-slider::before,
.smia-slider::before {
  background-color: var(--black3);
  border-radius: 50%;
  content: "";
  height: 26px;
  left: 4px;
  position: absolute;
  top: 3px;
  transition: all 150ms ease-in-out;
  width: 26px
}

.smdt-toggle-checkbox:checked ~ .smdt-slider::before,
.smia-toggle-shortcuts-checkbox:checked ~ .smia-slider::before {
  transform: translateX(30px)
}

.smia-set-shortcut-status,
.smia-ani {
  height: 48px;
  display: flex;
  justify-content: space-between;
  width: auto;
  max-width: 200px;
  align-items: center;
  padding: 0 12px;
  border-radius: 6px;
  border: 1px solid var(--black2);
  font-size: 13px;
}

.sbit-last {
  display: flex;
  justify-content: center !important;
  text-align: center !important
}

@media screen and (max-width:640px) {
  .sub-menu--item__title {
    font-size: 18px;
    margin: 0 auto;
    text-align: center
  }

  .sub-menu--item__title > strong {
    font-size: 12px
  }

  .sub-menu--item__description {
    font-size: 13px;
    text-align: center;
    padding: 14px 12px;
    line-height: 16px;
    margin: 0 auto;
  }

  .sm-download-json {
    justify-content: center
  }

  .sm-download-json-title,
  .sm-upload-json-title {
    font-size: 13px
  }

  .smi-theme-actions {
    text-align: center
  }

  .smi-theme-actions .sub-menu--item__description {
    padding-bottom: 24px
  }

  .smia-shortcuts {
    flex-direction: column;
  }

  .smia-set-shortcut-status {
    width: 100%;
  }

  .toggle-kb-shortcuts-btn__smia {
    margin: 0 auto;
    max-width: 220px;
    height: 40px;
  }

  .theme-actions {
    flex-direction: column;
    padding: 0 16px;
    max-width: 286px;
    margin: 0 auto;
  }

  .theme-option:not(:first-child) {
    margin-left: 0
  }

  .theme-option {
    width: 80%
  }

  .theme-option span {
    font-size: 14px
  }

  .smia-set-shortcut-status,
  .smia-ani {
    height: 40px;
    margin: 0 auto;
  }

  .smdt-title,
  .smia-set-status-title {
    font-size: 13px;
  }

  .smdt-toggle,
  .smia-disable-shortcuts__btn {
    transform: scale(0.8);
  }
}

@media screen and (max-width:530px) {
  .sub-menu-content {
    padding: 8px 4px 0
  }

  .sb-sub-popup-subtitle {
    font-size: 14px
  }

  .sb-sub-popup-title {
    font-size: 15px
  }

  .keyboard-disabled-sm,
  .toggle-animations-icon__sm {
    margin-right: 8px
  }
}

@media screen and (max-width:450px) {
  .sub-menu--item__description {
    font-size: 12px;
  }

  .sm-download-json-icon,
  .sm-upload-json-icon {
    width: 20px
  }

  .sm-download-json-icon svg,
  .sm-upload-json-icon svg {
    transform: scale(.8)
  }

  .sb-sub-popup-subtitle {
    font-size: 13px;
    padding: 2px 2px 0 4px
  }

  .sb-sub-popup-subtitle:nth-child(2) {
    padding-bottom: 12px
  }
}