.hide-toast-overlay {
  display: none;
}

.toast-overlay--allow__sidebar {
  width: calc(100% - 256px);
  left: 256px;
}

.toast {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 284px;
  background-color: #141617;
  display: flex;
  align-items: center;
  box-shadow: var(--box-shadow1);
  border-radius: 6px 6px 0 0;
  z-index: -1;
  height: 0;
  transform: translateY(48px);
  transition-duration: 100ms;
  transition-property: transform;
  transition-timing-function: ease-in-out;
}

.show-toast {
  height: 48px !important;
  z-index: 2000 !important;
  transform: translateY(0) !important;
}

.toast svg {
  user-select: none;
  pointer-events: none;
  fill: #fcfbf9 !important;
}

.toast-message {
  color: #fcfbf9;
  font-size: 14px;
  font-weight: 400;
  height: 100%;
  padding: 0 4px 0 16px;
  letter-spacing: 0.3px;
  display: flex;
  align-items: center;
  width: 176px;
}

.undo-toast-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 24px;
  width: 48px;
  cursor: pointer;
  border-radius: 4px;
  margin-left: auto;
}

.undo-toast-wrapper:hover {
  background-color: #0f2c4f;
}

.undo-toast-message {
  color: var(--primarylight2);
  font-weight: 500;
  font-size: 13px;
  line-height: 24px;
  text-align: center;
  padding: 0 2px;
  user-select: none;
  pointer-events: none;
}

.close-toast-icon-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  cursor: pointer;
  height: 28px;
  width: 28px;
  border-radius: 16px;
  margin-right: 8px;
}

.close-toast-icon-wrapper svg {
  transform: scale(1.2);
}

.close-toast-icon-wrapper:hover {
  background-color: #1f2223;
}