.toast-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: transparent;
  z-index: 1999;
}

.hide-toast-overlay {
  display: none;
}

.toast-overlay--allow__sidebar {
  width: calc(100% - 256px);
  left: 256px;
}

.toast {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 284px;
  /* background: var(--black0); */
  background: #181a1b;
  display: flex;
  align-items: center;
  z-index: 2000;
  box-shadow: var(--box-shadow1);
  border-radius: 6px 6px 0 0;
  height: 48px;
  transition: all 0.3s ease-in-out;
}

.toast svg {
  user-select: none;
  pointer-events: none;
  fill: #fcfbf9 !important;
}

.toast-message {
  /* color: var(--white4); */
  color: #fcfbf9;
  font-size: 14px;
  font-weight: 400;
  height: 100%;
  padding: 0 4px 0 16px;
  letter-spacing: 0.3px;
  display: flex;
  align-items: center;
  width: 176px;
}

.undo-toast-wrapper {
  display:flex;
  align-items:center;
  justify-content:center;
  height:24px;
  width:48px;
  cursor:pointer;
  border-radius:4px;
  margin-left:auto;
}

.undo-toast-wrapper:hover {
  background: var(--primary4);
}

.undo-toast-message {
  color: var(--primarylight2);
  font-weight: 500;
  font-size:13px;
  line-height:24px;
  text-align:center;
  padding: 0 2px;
  user-select:none;
  pointer-events:none;
}

.close-toast-icon-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  cursor: pointer;
  height: 28px;
  width: 28px;
  border-radius: 16px;
  margin-right: 8px;
}

.close-toast-icon-wrapper svg {
  transform: scale(1.2);
}

.close-toast-icon-wrapper:hover {
  background: var(--darkgrey2);
}