.toggle-form {
  position: fixed;
  display: flex;
  left: 9px;
  top: 68px;
  width: 44px;
  height: 44px;
  background-color: transparent;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  z-index: 902;
  cursor: pointer;
  box-shadow:
    rgba(60, 64, 67, 0.3) 0 1px 2px 0,
    rgba(60, 64, 67, 0.15) 0 1px 3px 1px;
  transition: opacity 200ms ease-in-out;
}

.toggle-form:focus-visible {
  outline: none;
  background-color: var(--mediumgrey1);
  box-shadow: var(--box-shadow2-hover);
}

.hide-toggle--form {
  opacity: 0;
  box-shadow: none;
  pointer-events: none;
  user-select: none;
}

.hide-toggle--form .toggle-form-btn {
  user-select: none;
}

.toggle-form:hover {
  background-color: var(--black1);
  box-shadow: var(--box-shadow2-hover);
}

.toggle-form-btn {
  border-radius: 50%;
}

.toggle-form svg {
  height: 36px;
  width: 36px;
  pointer-events: none;
  vertical-align: middle;
  overflow: hidden;

  /* transition: all 200ms ease-in-out; */
}

.toggle-form-title {
  display: none;
  padding: 0 22px 0 18px;
  letter-spacing: .25px;
  font-size: 16px;
  position: relative;
}

.toggle-form-title--sidebar {
  display: block;
}

.toggle-form-btn--sidebar {
  z-index: 198;
}

.adjust-view {
  z-index: 198 !important;
}

.open-toggle--fixed {
  z-index: 198 !important;
}

.close-toggle--fixed {
  z-index: -1 !important;
}

@media screen and (max-width: 530px) {
  .toggle-form {
    display: none;
  }
}

@media screen and (max-height: 470px) {
  .toggle-form {
    top: 68px;
  }
}